<div id="login" ng-hide="clientGame.getGameHasStarted()">
  <div>
    Choose your color: <select ng-model="playerColor" ng-options="color.name for color in availableColors"></select>
  </div>
  <button ng-click="connect()">connect</button>
</div>
<div ng-show="clientGame.getGameHasStarted()">
  <canvas id="myCanvas" ></canvas>
  <div>
    frame rate: <span ng-bind="clientGame.getFrameRate()"></span><br/>
    number of players: <span ng-bind="clientGame.getNbPlayers()"></span><br/>
	score: <span ng-bind="clientGame.getScore()"></span><br/>
  </div>
  <div>
    <button ng-click="disconnect()">disconnect</button>
  </div>
</div>
