<div>
  <div>
    Connected to the server: <span ng-bind="socketIO.isConnected()"></span>
  </div>

  <div>
    <div>
      User <span ng-bind="userName"></span> is logged in
      <button type="button" ng-click="logout()">Logout</button>

      <div>
        List of users connected:
        <ul>
          <li ng-repeat="user in users">
            <span ng-bind="user"></span>
          </li>
        </ul>
      </div>
    </div>

    <div ng-include="'templates/views/chat.html'" ></div>
  </div>
</div>

